*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.cantainer{
    background:red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.cantainer .heading{
    background: #ffffff;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
}
.cantainer .inputcont{
    margin: 30px 0px;
}
.cantainer .inputcont .Randombtn{
    padding: 15px;
    border-radius:10px;
    font-size: 20px;
}
.cantainer .inputcont .Applybtn{
      padding: 15px;
    border-radius:10px;
    font-size: 20px;
}
.cantainer .inputcont #colorname{
      padding: 15px;
    border-radius:10px;
    font-size: 20px;
}
.cantainer .currentColor{
    
    border-radius:10px;
    font-size: 50px;
    border: 2px solid;
    padding: 10px;

}




